.header {
  background-color: #fff;
  padding: 0px;
  text-align: center;
}

.black-link {
  color: black;
  text-decoration: none;
}

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 3px solid rgba(0, 0, 0, 0.2);
}

.author-info {
  text-align: center;
  margin-bottom: 11px;
}

.button-container {
  display: flex;
  justify-content: center;
  gap: 0px;
  margin-bottom: 0px;
  margin-bottom: 0px;
  background-color: #2c2c2c;
  padding: 0px;
}

.button-card {
  background-color: #2c2c2c;
  color: #fff;
  border-radius: 0px;
  text-align: center;
  padding: 14px 9px;
  text-decoration: none;
  width: auto;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  box-shadow: none;
  transition: transform 0.2s ease, background-color 0.2s ease;
  cursor: pointer;
}

.button-card:hover {
  /* transform: translateY(-3px); */
  background-color: #444;
}

.button-card img {
  width: 40px;
  height: 40px;
  margin-bottom: 5px;
}

.button-card .title-b {
  font-size: 14px;
  color: #fff;
  font-weight: 600;
  margin: 0 10px;
}

.button-card.active {
  transform: scale(1);
  background-color: #eee;
  width: auto;
}

.button-card.active .title-b {
  font-size: 14px;
  color: #2c2c2c;
  font-weight: 600;
  margin: 0 10px;
}

.content-container {
  display: none;
  text-align: center;
  width: 100%;
  height: fit-content;
  padding: 0;
  /* border: 2px solid #444;
  border-radius: 10px; */
  background-color: #fff;
  margin-top: 0;
  overflow: visible;
  max-height: none;
}

.visible {
  display: block;
}

.container-b {
  text-align: center;
  margin: 0px auto;
  width: 100%;
  max-width: 1023px;
  background-color: #fff;
  overflow: visible;
}

.container-body {
  padding: 0px;
  max-width: 1023px;
  margin: auto;
  background: #fff;
}