render/
render.reproduce/
main.py
test_diffuse/
test_metallic/
test_pricipled_diffuse/
test_sample/
test_material.py
__pycache__/
integrators/__pycache__/
scene_teapot/pic/
scene_teapot/preview/
teapot/scene_material.xml
glass-of-water/
banner_06/
datasets/
banner_06.zip
test_trans.py
datasets_test/
emitters/
groundtruth/
scene_xml/
objaverse/
scene
textures/
assert/
gen_sphere_box.sh
cam_render_sphere_box.py
output.log
resource/
eval/visualization.py
eval/vis.py